#diraryView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  background-color: #FFDDC1;
  border-radius: 16px;

  .container {
    width: 100%;
    height: 100%;
    /* 조정 가능한 너비 */
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .dirary-view-header {
      width: 100%;
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;

      button {
        border: none;
        width: 150px;
        height: 50px;
        padding: 5px;
        border-radius: 16px;
        cursor: pointer;
        color: #fff;

        font-weight: bold;
        font-size: 25px;

        &.back-btn {
          background-color: #E0B1CB;
        }

        &.edit-btn {
          background-color: #9ED2B6;
          opacity: 0;
          cursor: default;

          a {
            cursor: default;
          }
        }
      }

      h2 {
        font-size: 50px;
        font-weight: bold;
      }
    }

    .dirary-detail {
      width: 100%;
      padding-bottom: 30px;

      .dirary-emotion {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;

        img {
          width: 300px;
        }

        h2 {
          font-size: 30px;
          padding: 30px 0;
          font-weight: bold;
        }
      }

      .dirary-content {
        width: 100%;
        padding-top: 30px;
        text-align: center;

        h2 {
          font-size: 50px;
          font-weight: bold;
          padding-bottom: 30px;
        }

        p {
          padding: 20px;
          text-align: left;
          font-size: 25px;
          font-weight: 400;
          line-height: 250%;
          border-radius: 5px;
          background-color: #fff;
          word-break: keep-all;
          overflow-wrap: break-word;
        }
      }
    }
  }
}