  #login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 16px;
    padding-top: 100px;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .logo-box {
        padding-bottom: 50px;
        text-align: center;

        h1 {
          color: #000;
          font-size: 80px;
          font-weight: bold;
          text-decoration: underline;
          text-underline-offset: 15px;
        }
      }

      .login-box {
        width: 800px;
        background-color: #fff;
        border-radius: 16px;
        padding: 20px;

        h1 {
          color: #000;
          font-size: 50px;
          text-align: center;
          padding-bottom: 30px;
          font-weight: bold;
        }

        // 구글/카카오 로그인 디자인
        // .login-btn-box {
        //   display: flex;
        //   flex-direction: column;
        //   align-items: center;
        //   padding-bottom: 30px;

        //   button {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     width: 400px;
        //     height: 45px;
        //     border-radius: 5px;
        //     cursor: pointer;

        //     &:nth-child(1) {
        //       background-color: #b3b2b2;
        //     }

        //     &:nth-child(2) {
        //       margin-top: 12px;
        //       background-color: rgb(250, 250, 142);
        //     }

        //     span {
        //       display: flex;
        //       justify-content: center;
        //       align-items: center;
        //       width: 150px;
        //       font-size: 25px;
        //       font-weight: bold;

        //       &:nth-child(1) {
        //         padding-right: 12px;
        //       }
        //     }

        //     img {
        //       width: 35px;
        //       height: 35px;
        //       margin-right: 8px;

        //     }
        //   }
        // }

        ul {
          width: 100%;

          li {
            width: 100%;
            padding-bottom: 10px;


            &.errmsg {
              color: #f00;
              font-size: 15px;
            }

            input {
              width: 100%;
              height: 54px;
              border: 1px solid #ddd;
              padding: 0 15px;
            }

            a {
              color: #333;
            }

            i {
              margin: 0 5px;
              color: #ddd;
            }

            button {
              width: 100%;
              height: 54px;
              border: 1px solid beige;
              cursor: pointer;
              font-size: 20px;
              font-weight: 500;

              &[type=submit] {
                background: #f7dddd;
                color: #000;
              }

              &[type=button] {
                background: beige;
                color: #000;
              }
            }
          }
        }
      }

    }
  }