#allDirary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
  border-radius: 16px;
}
#allDirary .container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#allDirary .container .title {
  padding-bottom: 30px;
}
#allDirary .container .title h1 {
  font-size: 40px;
  text-align: center;
  color: #000;
}
#allDirary .container .sort-emotion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#allDirary .container .sort-emotion .sort-menu {
  width: 30%;
  margin-right: 10px;
  border: none;
  border-radius: 16px;
  background-color: #ececec;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Nanum Pen Script";
  font-size: 25px;
  cursor: pointer;
}
#allDirary .container .sort-emotion .sort-menu option {
  display: block;
  padding: 0 2px 1px;
  font-weight: bold;
}
#allDirary .container .sort-emotion .dirary-write {
  width: 100%;
}
#allDirary .container .sort-emotion .dirary-write a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
  background-color: #64c964;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
}
#allDirary .container .dirary-list {
  width: 100%;
  color: #000;
}
#allDirary .container .dirary-list .dirary-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#allDirary .container .dirary-list .dirary-info .dirary-view-link {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}
#allDirary .container .dirary-list .dirary-info .dirary-view-link .emotion-img-box {
  cursor: pointer;
  min-width: 120px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#allDirary .container .dirary-list .dirary-info .dirary-view-link .emotion-img-box img {
  width: 80px;
  height: 80px;
}
#allDirary .container .dirary-list .dirary-info .dirary-view-link .emotion-img-box h2 {
  font-size: 20px;
  padding-top: 10px;
}
#allDirary .container .dirary-list .dirary-info .dirary-view-link .info-box {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
  padding-top: 10px;
}
#allDirary .container .dirary-list .dirary-info .dirary-view-link .info-box .dirary-date {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
#allDirary .container .dirary-list .dirary-info .dirary-view-link .info-box .dirary-content {
  font-size: 25px;
}
#allDirary .container .dirary-list .dirary-info .edit-delete-btn-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#allDirary .container .dirary-list .dirary-info .edit-delete-btn-box button {
  min-width: 70px;
  height: 100%;
  background-color: #ececec;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  white-space: nowrap;
}
#allDirary .container .dirary-list .dirary-info .edit-delete-btn-box button.dirary-edit-btn {
  background-color: #64c964;
}
#allDirary .container .dirary-list .dirary-info .edit-delete-btn-box button.dirary-delete-btn {
  background-color: #c96464;
  margin-top: 12px;
}