#diraryAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  background-color: #ddd;
  border-radius: 16px;
}
#diraryAdd .container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#diraryAdd .container .today-emotion {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
#diraryAdd .container .today-emotion .title {
  padding-bottom: 50px;
}
#diraryAdd .container .today-emotion .title h2 {
  font-size: 40px;
  color: #000;
  text-align: left;
}
#diraryAdd .container .today-emotion .select-emotion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#diraryAdd .container .today-emotion .select-emotion button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  background: #fff;
}
#diraryAdd .container .today-emotion .select-emotion button.select {
  background-color: #A9CCE3;
}
#diraryAdd .container .today-emotion .select-emotion button img {
  width: 50%;
  height: 100px;
  padding: 10px;
}
#diraryAdd .container .today-emotion .select-emotion button span {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
  color: #000;
}
#diraryAdd .container .dirary-edit,
#diraryAdd .container .dirary-add {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
#diraryAdd .container .dirary-edit .title,
#diraryAdd .container .dirary-add .title {
  padding-bottom: 50px;
}
#diraryAdd .container .dirary-edit .title h1,
#diraryAdd .container .dirary-add .title h1 {
  font-size: 40px;
  color: #000;
  text-align: left;
}
#diraryAdd .container .dirary-edit .dirary-input,
#diraryAdd .container .dirary-add .dirary-input {
  width: 100%;
}
#diraryAdd .container .dirary-edit .dirary-input textarea,
#diraryAdd .container .dirary-add .dirary-input textarea {
  width: 100%;
  height: 300px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 30px;
}
#diraryAdd .container .dirary-edit .addinput-box,
#diraryAdd .container .dirary-add .addinput-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
#diraryAdd .container .dirary-edit .addinput-box .img-add-box,
#diraryAdd .container .dirary-add .addinput-box .img-add-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 50px;
  border-radius: 16px;
  background-color: #A9CCE3;
}
#diraryAdd .container .dirary-edit .addinput-box .img-add-box h2,
#diraryAdd .container .dirary-add .addinput-box .img-add-box h2 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
#diraryAdd .container .dirary-edit .addinput-box .img-add-box .custom-file,
#diraryAdd .container .dirary-add .addinput-box .img-add-box .custom-file {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 12px;
}
#diraryAdd .container .dirary-edit .addinput-box .img-add-box .custom-file img,
#diraryAdd .container .dirary-add .addinput-box .img-add-box .custom-file img {
  width: 70px;
  height: 50px;
}
#diraryAdd .container .dirary-edit .addinput-box .img-add-box input,
#diraryAdd .container .dirary-add .addinput-box .img-add-box input {
  display: none;
  width: 80px;
  margin-left: 12px;
  border: none;
}
#diraryAdd .container .dirary-edit .addinput-box button,
#diraryAdd .container .dirary-add .addinput-box button {
  border: none;
  width: 200px;
  height: 50px;
  padding: 5px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #64c964;
  font-weight: bold;
  font-size: 18px;
}