#login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
  border-radius: 16px;
  padding-top: 100px;
}
#login .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#login .container .logo-box {
  padding-bottom: 50px;
  text-align: center;
}
#login .container .logo-box h1 {
  color: #000;
  font-size: 80px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 15px;
}
#login .container .login-box {
  width: 800px;
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
}
#login .container .login-box h1 {
  color: #000;
  font-size: 50px;
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
}
#login .container .login-box ul {
  width: 100%;
}
#login .container .login-box ul li {
  width: 100%;
  padding-bottom: 10px;
}
#login .container .login-box ul li.errmsg {
  color: #f00;
  font-size: 15px;
}
#login .container .login-box ul li input {
  width: 100%;
  height: 54px;
  border: 1px solid #ddd;
  padding: 0 15px;
}
#login .container .login-box ul li a {
  color: #333;
}
#login .container .login-box ul li i {
  margin: 0 5px;
  color: #ddd;
}
#login .container .login-box ul li button {
  width: 100%;
  height: 54px;
  border: 1px solid beige;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}
#login .container .login-box ul li button[type=submit] {
  background: #f7dddd;
  color: #000;
}
#login .container .login-box ul li button[type=button] {
  background: beige;
  color: #000;
}